# config
.vscode
.obsidian

# general files
ferramentas.txt
ideias_de_projetos.txt
curso_empowerdata
kali
React
Udemy_150hrs
Python/customtkinter.txt

# obsidian
**/.obsidian
CSS_HTML/.obsidian
Java/general/.obsidian
JavaScript/.obsidian
